{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        {% for new in news %}
            <div class="jumbotron">
                <h3 class="display-5">{{ new.title }}</h3>
                <p style="text-align: right" class="lead">{{ new.created }}, Автор: {{ new.user }}</p>
                <h5>{{ new.text_min| safe }}</h5>
                <hr class="my-4">
                <div class="row">
                    {{ new.text| safe }}
                </div>
                <hr class="my-0">
            </div>
        {% endfor %}
{% endblock %}