{% load static %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">ГК Батыр</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    МК
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'check_list_mk_url' %}">Чек-лист</a>
                    <a class="dropdown-item" href="{% url 'mk_report_url' %}">Отчет</a>
                    <a class="dropdown-item" href="{% url 'mk_etc_report_url' %}">Отчет Прочее</a>
                    <a class="dropdown-item" href="{% url 'mk_nkro_report_url' %}">Отчет НКРО</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    КРО
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'table_inv' %}">Таблица Итогов</a>
                    <a class="dropdown-item" href="{% url 'invent_report_url' %}">Отчет Результаты</a>
                    <a class="dropdown-item" href="{% url 'invent_report_stats_url' %}">Отчет Статистика</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

        </ul>
        {% block navbar %}
        {% endblock %}
        {% if user.is_authenticated %}
            <a href="{% url 'logout_url' %}">
                <button type="button" class="btn btn-outline-warning">Выйти {{ user }}</button>
            </a>
        {% else %}
            <a href="{% url 'login_url' %}">
                <button type="button" class="btn btn-outline-warning">Авторизация</button>
            </a>
        {% endif %}
    </div>
</nav>
<div class="indent" style="padding-top: 56px"></div>