{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <form method="POST" class="form-group text-center">{% csrf_token %}
            <table class="table table-bordered table-dark">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" class="col-lg-4" style="text-align: left">Наименование 1С</th>

                    <td style="text-align: left">
                        <input type="text" style="width: 100%;" name="name_1c" value="{{ form.name_1c }}"/>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="col-lg-4" style="text-align: left">Наименование Меркурий</th>
                    <td style="text-align: left">
                        <input type="text" style="width: 100%;" name="name_merc" value="{{ form.name_merc }}"/>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="col-lg-4" style="text-align: left">Вес упаковки</th>
                    <td style="text-align: left">
                        <input type="number" step="any" name="w_in_pack" value="{{ form.w_in_pack }}"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}